

.header {
  text-align: center;
}

#nombre_sroll{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;

}
.wrap-text-content {
  word-break: break-all;
  overflow-wrap: break-word;
}
.text-wrap {
  word-break: break-all;
  overflow-wrap: break-word;
}
